/*

[Theme Color Stylesheet]

Project     : USNews - Multipurpose News, Magazine and Blog HTML5 Template
Author      : themelooks.com
Author URI  : https://themeforest.net/user/themelooks

*/

/*------------------------------------*\
    COLOR
\*------------------------------------*/
a,
a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus,
.btn-link.active,
.nav li a:hover,
.nav li.active > a,
.nav li.active > a:hover,
.nav li.active > a:focus,
.nav li.open > a,
.nav li.open > a:hover,
.nav li.open > a:focus,
.text--color-1,
.comment--header .rating,
.comment-respond .rating .br-widget a:after,
.widget--title .h4,
.tags--widget.style--4 .nav > li > a:hover,
.search--widget li label span:hover,
.search--widget li label input:checked + span,
.megamenu--posts > ul > li:hover > .title,
.main--breadcrumb .breadcrumb .active,
.page--title .h2 span,
.post--items-title .h4,
.product--item:hover .rating,
.product--summery .rating .nav,
.faq--item .panel-title a,
.checkout--info .title .fa,
.checkout--info .title a:hover,
.checkout--info .title a.active,
.checkout--billing-info .table tbody tr td span,
.contact--cats .nav > li > a:hover .title .h5,
.portfolio--item:hover .title .h4 .btn-link {
    color: #ef3b23;
}

/*------------------------------------*\
    BACKGROUND COLOR
\*------------------------------------*/
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:active.focus,
.btn-default.active,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default.focus,
.btn-primary,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
.bg--color-1,
.bg--color-1--b:before,
.bg--color-1--a:after,
.bg--color-1.bg--skew-up:before,
.bg--color-1.bg--skew-down:after,
.preloader[data-preloader="1"] .preloader--inner:before,
.preloader[data-preloader="2"] .preloader--inner:before,
.preloader[data-preloader="2"] .preloader--inner:after,
.preloader[data-preloader="3"] .preloader--inner:before,
.preloader[data-preloader="3"] .preloader--inner:after,
.preloader[data-preloader="4"] .preloader--inner,
.preloader[data-preloader="5"] .preloader--inner:before,
.preloader[data-preloader="5"] .preloader--inner:after,
.preloader[data-preloader="6"] .preloader--inner span:before,
.preloader[data-preloader="7"] .preloader--inner span,
.preloader[data-preloader="8"] .preloader--inner span,
.preloader[data-preloader="9"] .preloader--inner span,
.preloader[data-preloader="10"] .preloader--inner span:before,
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li.active > span,
.pagination > li.active > span:hover,
.list--widget-nav > .nav > li.active,
.poll--widget .checkbox p span,
.poll--widget .radio p span,
.tags--widget .nav > li > a:hover,
.tags--widget .nav > li > a > span,
.search--widget button.dropdown-toggle:hover,
.megamenu--posts > ul > li > .img a.cat:hover:before,
.megamenu--posts > ul > li > .img a.icon:before,
.page--title.lined .h2:before,
.posts--filter-bar.style--3 .nav > li > a > i,
.posts--filter-bar.style--4 .nav > li > a:hover > i,
.post--img a.cat:hover:before,
.post--img .icon:before,
.post--cats .nav li a:hover,
.post--tags .nav li a:hover,
.product--item .img .actions .nav > li > a,
.product--single .tab-nav > li > a:hover,
.product--single .tab-nav > li.active > a,
.pricing--img.layout--4:before,
#backToTop a:hover,
.header--navbar .navbar-collapse:before,
.feature--item .icon {
    background-color: #ef3b23;
}

::-moz-selection {
    background-color: #ef3b23;
}

::selection {
    background-color: #ef3b23;
}

/*------------------------------------*\
    BORDER COLOR
\*------------------------------------*/
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:active.focus,
.btn-default.active,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default.focus,
.btn-primary,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
.form-control:focus,
.bd--color-1,
.dropdown-menu,
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li.active > span,
.pagination > li.active > span:hover,
.comment-respond .form-control:focus,
.widget--title,
.list--widget-nav > .nav > li.active,
.tags--widget .nav > li > a:hover,
.search--widget input:focus + .input-group-btn:before,
.posts--filter-bar.style--4 .nav > li > a:hover > i,
.post--cats .nav li a:hover,
.post--tags .nav li a:hover,
.product--single .tab-nav > li > a,
.login--form .form-control:focus,
.coming-soon--content .subscribe--widget input:focus + .input-group-btn:before,
.checkout--info-form .form-control:focus,
.checkout--billing-info .form-control:focus {
    border-color: #ef3b23;
}

.post--items-title {
    border-top-color: #ef3b23;
}

.header--menu-links > li > a:hover,
.header--menu-links > li.active > a,
.header--menu-links > li.open > a,
.header--menu-links > li.open > a:hover,
.header--menu-links > li.open > a:focus {
    border-bottom-color: #ef3b23;
}
