
/*------------------------------------*\
    1. GENERAL STYLES
\*------------------------------------*/
body {
    color: #777;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    word-wrap: break-word;
}

p:last-child { /* RESET MARGIN OF LAST P TAG */
    margin-bottom: 0;
}

ul:last-child {
    margin-bottom: 0;
}

img,
.nav > li > a > img { /* RESPONSIVE IMAGES */
    max-width: 100%;
    height: auto;
}

::-moz-selection {
    color: #fff;
    background-color: #da0000;
}

::selection {
    color: #fff;
    background-color: #da0000;
}

.del {
    text-decoration: line-through;
}

.table:last-child {
    margin-bottom: 0;
}

.sa_svg-hidden,
.sa_svg-hidden svg {
    width: 0;
    height: 0;
    overflow: hidden;
}

[data-zoom="img"] {
    display: block;
    overflow: hidden;
}

/* 1.1. LINKS */
a {
    color: #da0000;
    -webkit-transition-property: color, border-color, background-color, box-shadow;
            transition-property: color, border-color, background-color, box-shadow;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
    -webkit-transition-timing-function: ease, ease, ease-in-out, ease-in-out;
            transition-timing-function: ease, ease, ease-in-out, ease-in-out;
}

a:hover,
a:focus {
    color: #da0000;
}

.btn-link {
    display: inline-block;
    color: inherit;
    font-weight: inherit;
    -webkit-transition: color .25s, border-color .25s, background-color .25s ease-in-out;
            transition: color .25s, border-color .25s, background-color .25s ease-in-out;
    cursor: pointer;
}

.btn-link:hover,
.btn-link:focus,
.btn-link.active {
    color: #da0000;
}

a, .btn-link,
a:link, .btn-link:link,
a:visited, .btn-link:visited,
a:hover, .btn-link:hover,
a:focus, .btn-link:focus,
a:active, .btn-link:active {
    text-decoration: none;
    outline: 0;
}

/* 1.2. NAV LINKS */
.nav li a:hover,
.nav li a:focus,
.nav li.open a,
.nav li.open a:hover,
.nav li.open a:focus {
    background-color: transparent; /* RESET NAV HOVER AND FOCUS BACKGROUND COLOR */
}

.nav li a {
    color: inherit;
}

.nav li a:focus,
.nav li.active > a:focus,
.nav li.open > a:focus {
    color: inherit;
}

.nav li a:hover,
.nav li.active > a,
.nav li.active > a:hover,
.nav li.active > a:focus,
.nav li.open > a,
.nav li.open > a:hover,
.nav li.open > a:focus {
    color: #da0000;
}

/* 1.3. BUTTONS */
.btn {
    padding: 2px 15px;
    border-radius: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    -webkit-transition: color .25s, border-color .25s, background-color .25s ease-in-out;
            transition: color .25s, border-color .25s, background-color .25s ease-in-out;
}

.btn.active,
.btn:active {
    box-shadow: none; /* RESET BUTTON BOX SHADOW */
}

.btn:focus,
.btn.focus,
.btn.active.focus,
.btn.active:focus,
.btn:active.focus,
.btn:active:focus,
.btn.focus {
    outline: 0; /* RESET BUTTON OUTLINE */
}


.btn-sm {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    line-height: 22px;
}

.btn-md {
    padding-top: 7px;
    padding-bottom: 7px;
}

.btn-lg {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    line-height: 26px;
}

.btn-default,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled.focus,
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled].focus {
    color: #999;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:active.focus,
.btn-default.active,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #fff;
    background-color: #da0000;
    border-color: #da0000;
}

.btn-primary,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus {
    background-color: #da0000;
    border-color: #da0000;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary.focus {
    background-color: #222;
    border-color: #222;
}

.bg--overlay .btn-primary:hover,
.bg--overlay .btn-primary:focus {
    color: #222;
    background-color: #fff;
    border-color: #fff;
}

/* 1.4. FORM CONTROLS */
.form-control {
    height: 36px;
    padding: 4px 20px;
    background-color: transparent;
    border-color: #f9f9f9;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    line-height: 26px;
    -webkit-transition: color .25s, border-color .25s, background-color .25s ease-in-out;
            transition: color .25s, border-color .25s, background-color .25s ease-in-out;
    outline: 0;
}

.form-control:focus {
    border-color: #da0000;
    box-shadow: none;
}

textarea.form-control {
    height: auto;
    min-height: 100px;
    resize: vertical;
}

select.form-control {
    cursor: pointer;
}

/* 1.5. INPUT GROUPS */
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
    margin-left: 0;
}

/*------------------------------------*\
    2. HELPER CLASSES
\*------------------------------------*/

/* 2.2. FLOATS */
.float--left {
    float: left;
}

.float--right {
    float: right;
}

.float--none {
    float: none;
}

/* 2.3. MARGINS */
.mtop--30 {
    margin-top: 30px;
}

.fm {
    margin-right: 5px;
}

.flm {
    margin-left: 5px;
}

/* 2.4. PADDINGS */
.ptop--15 {
    padding-top: 15px;
}
.ptop--30 {
    padding-top: 30px;
}
.ptop--60 {
    padding-top: 60px;
}
.ptop--70 {
    padding-top: 70px;
}

.pbottom--30 {
    padding-bottom: 30px;
}
.pbottom--60 {
    padding-bottom: 60px;
}

.pd--30-0 {
    padding: 30px 0;
}

/* 2.8. BACKGROUND COLORS */
.bg--color-0,
.bg--color-0--b:before,
.bg--color-0--a:after,
.bg--color-0.bg--skew-up:before,
.bg--color-0.bg--skew-down:after {
    color: #222;
    background-color: #fff;
}

.bg--color-1,
.bg--color-1--b:before,
.bg--color-1--a:after,
.bg--color-1.bg--skew-up:before,
.bg--color-1.bg--skew-down:after {
    color: #fff;
    background-color: #000;
}

.bg--color-2,
.bg--color-2--b:before,
.bg--color-2--a:after,
.bg--color-2.bg--skew-up:before,
.bg--color-2.bg--skew-down:after {
    color: #fff;
    background-color: #1d1d1d;
}

.bg--color-3,
.bg--color-3--b:before,
.bg--color-3--a:after,
.bg--color-3.bg--skew-up:before,
.bg--color-3.bg--skew-down:after {
    color: #fff;
    background-color: #000;
}

/* 2.9. BACKGROUND IMAGE */
.bg--img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 2.10. BACKGROUND OVERLAY */
.bg--overlay {
    position: relative;
    color: #fff;
    z-index: 0;
}

.bg--overlay:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    z-index: -1;
}

/* 2.11. BORDER COLORS */
.bd--color-1 {
    border-color: #da0000;
}

.bd--color-2 {
    border-color: #eee;
}

/* 2.12. GUTTERS */
.gutter--0 {
    margin-left: 0;
    margin-right: 0;
}

.gutter--0 > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}

.gutter--10 {
    margin-left: -5px;
    margin-right: -5px;
}

.gutter--10 > [class*='col-'] {
    padding-left: 5px;
    padding-right: 5px;
}

.gutter--15 {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.gutter--15 > [class*='col-'] {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.gutter--20 {
    margin-left: -10px;
    margin-right: -10px;
}

.gutter--20 > [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px;
}

/* 2.13. VERTICAL CENTERING */
.vc--parent {
    width: 100%;
    height: 100%;
    display: table;
}

.vc--child {
    display: table-cell;
    vertical-align: middle;
}

.vc--child-bottom {
    display: table-cell;
    vertical-align: bottom;
}

.row--vc > div {
    float: none;
    display: table-cell;
    vertical-align: middle;
}

.row--vb > div {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

/*------------------------------------*\
    3. COMPONENTS
\*------------------------------------*/
/* 3.1. PRELOADER */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.preloader:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.preloader--inner {
    position: absolute;
    top: 50%;
    left: 50%;
}

.preloader[data-preloader="1"] .preloader--inner {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}

.preloader[data-preloader="1"] .preloader--inner:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #da0000;
    border-radius: 50%;
    -webkit-animation: preloaderScaleout 1.0s infinite ease-in-out;
            animation: preloaderScaleout 1.0s infinite ease-in-out;
}

.preloader.bg--color-1--b[data-preloader="1"] .preloader--inner:before {
    background-color: #fff;
}

.preloader[data-preloader="2"] .preloader--inner {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}

.preloader[data-preloader="2"] .preloader--inner:before,
.preloader[data-preloader="2"] .preloader--inner:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #da0000;
    border-radius: 50%;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -webkit-animation: preloaderBounce 2.0s infinite ease-in-out;
            animation: preloaderBounce 2.0s infinite ease-in-out;
}

.preloader[data-preloader="2"] .preloader--inner:after {
    -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
}

.preloader[data-preloader="3"] .preloader--inner {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    -webkit-animation: preloaderRotate 2s linear infinite;
            animation: preloaderRotate 2s linear infinite;
}

.preloader[data-preloader="3"] .preloader--inner:before,
.preloader[data-preloader="3"] .preloader--inner:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 60%;
    height: 60%;
    background-color: #da0000;
    border-radius: 100%;
    -webkit-animation: preloaderBounce 2.0s infinite ease-in-out;
            animation: preloaderBounce 2.0s infinite ease-in-out;
}

.preloader[data-preloader="3"] .preloader--inner:after {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
}

.preloader[data-preloader="4"] .preloader--inner {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    background-color: #da0000;
    -webkit-animation: preloaderRotateplane 1.2s ease-in-out infinite;
            animation: preloaderRotateplane 1.2s ease-in-out infinite;
}

.preloader[data-preloader="5"] .preloader--inner {
    width: 32px;
    height: 32px;
    margin-top: -32px;
    margin-left: -32px;
}

.preloader[data-preloader="5"] .preloader--inner:before,
.preloader[data-preloader="5"] .preloader--inner:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #da0000;
    -webkit-animation: preloaderCubemove 1.8s ease-in-out infinite;
            animation: preloaderCubemove 1.8s ease-in-out infinite;
}

.preloader[data-preloader="5"] .preloader--inner:after {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
}

.preloader[data-preloader="6"] .preloader--inner {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}

.preloader[data-preloader="6"] .preloader--inner span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(2) {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(3) {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(4) {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(5) {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(6) {
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(7) {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(8) {
    -webkit-transform: rotate(210deg);
            transform: rotate(210deg);
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(9) {
    -webkit-transform: rotate(240deg);
            transform: rotate(240deg);
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(10) {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(11) {
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(12) {
    -webkit-transform: rotate(330deg);
            transform: rotate(330deg);
}

.preloader[data-preloader="6"] .preloader--inner span:before {
    content: " ";
    display: block;
    width: 15%;
    height: 15%;
    background-color: #da0000;
    border-radius: 100%;
    -webkit-animation: preloaderCircleFade 1.2s infinite ease-in-out both;
            animation: preloaderCircleFade 1.2s infinite ease-in-out both;
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(2):before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(3):before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(4):before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(5):before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(6):before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s;
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(7):before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(8):before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(9):before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(10):before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(11):before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
}

.preloader[data-preloader="6"] .preloader--inner span:nth-child(12):before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
}

.preloader[data-preloader="7"] .preloader--inner {
    width: 38px;
    height: 30px;
    margin-top: -15px;
    margin-left: -19px;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.preloader[data-preloader="7"] .preloader--inner span {
    display: inline-block;
    width: 6px;
    height: 100%;
    background-color: #da0000;
    -webkit-animation: preloaderStretchdelay 1.2s ease-in-out infinite;
            animation: preloaderStretchdelay 1.2s ease-in-out infinite;
}

.preloader[data-preloader="7"] .preloader--inner span + span {
    margin-left: 2px;
}

.preloader[data-preloader="7"] .preloader--inner span:nth-child(2) {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
}

.preloader[data-preloader="7"] .preloader--inner span:nth-child(3) {
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
}

.preloader[data-preloader="7"] .preloader--inner span:nth-child(4) {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
}

.preloader[data-preloader="7"] .preloader--inner span:nth-child(5) {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
}

.preloader[data-preloader="8"] .preloader--inner {
    width: 90px;
    height: 30px;
    margin-top: -15px;
    margin-left: -45px;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.preloader[data-preloader="8"] .preloader--inner span {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-left: 1.5px;
    margin-right: 1.5px;
    background-color: #da0000;
    border-radius: 50%;
    -webkit-animation: preloaderStretchdelay2 0.7s ease-in-out infinite;
            animation: preloaderStretchdelay2 0.7s ease-in-out infinite;
}

.preloader[data-preloader="8"] .preloader--inner span:nth-child(2) {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
}

.preloader[data-preloader="8"] .preloader--inner span:nth-child(3) {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
}

.preloader[data-preloader="8"] .preloader--inner span:nth-child(4) {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
}

.preloader[data-preloader="9"] .preloader--inner {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}

.preloader[data-preloader="9"] .preloader--inner span {
    float: left;
    display: block;
    width: 33%;
    height: 33%;
    background-color: #da0000;
    -webkit-animation: preloaderCubeGridScale 1.3s infinite ease-in-out;
            animation: preloaderCubeGridScale 1.3s infinite ease-in-out;
}

.preloader[data-preloader="9"] .preloader--inner span:nth-child(1) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

.preloader[data-preloader="9"] .preloader--inner span:nth-child(2) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}

.preloader[data-preloader="9"] .preloader--inner span:nth-child(3) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
}

.preloader[data-preloader="9"] .preloader--inner span:nth-child(4) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
}

.preloader[data-preloader="9"] .preloader--inner span:nth-child(5) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

.preloader[data-preloader="9"] .preloader--inner span:nth-child(6) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}

.preloader[data-preloader="9"] .preloader--inner span:nth-child(7) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.preloader[data-preloader="9"] .preloader--inner span:nth-child(8) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
}

.preloader[data-preloader="9"] .preloader--inner span:nth-child(9) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

.preloader[data-preloader="10"] .preloader--inner {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
}

.preloader[data-preloader="10"] .preloader--inner span {
    float: left;
    display: block;
    position: relative;
    width: 50%;
    height: 50%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.preloader[data-preloader="10"] .preloader--inner span:nth-child(2) {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
}

.preloader[data-preloader="10"] .preloader--inner span:nth-child(3) {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
}

.preloader[data-preloader="10"] .preloader--inner span:nth-child(4) {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
}

.preloader[data-preloader="10"] .preloader--inner span:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #da0000;
    -webkit-animation: preloaderFoldCubeAngle 2.4s infinite linear both;
            animation: preloaderFoldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
}

.preloader[data-preloader="10"] .preloader--inner span:nth-child(2):before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}

.preloader[data-preloader="10"] .preloader--inner span:nth-child(3):before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
}

.preloader[data-preloader="10"] .preloader--inner span:nth-child(4):before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
}

.preloader[data-preloader="img"] .preloader--inner {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

@-webkit-keyframes preloaderScaleout {
    0% {
        -webkit-transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes preloaderScaleout {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@-webkit-keyframes preloaderRotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes preloaderRotate {
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@-webkit-keyframes preloaderRotateplane {
    0% {
        -webkit-transform: perspective(120px);
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}

@keyframes preloaderRotateplane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    } 50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    } 100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@-webkit-keyframes preloaderBounce {
    0%, 100% {
        -webkit-transform: scale(0.0);
    }

    50% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes preloaderBounce {
    0%, 100% { 
        -webkit-transform: scale(0.0);
                transform: scale(0.0);
    } 50% { 
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
}

@-webkit-keyframes preloaderCubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes preloaderCubemove {
    25% { 
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
                transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
                transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
                transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
                transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}

@-webkit-keyframes preloaderCircleFade {
    0%, 39%, 100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    40% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}

@keyframes preloaderCircleFade {
    0%, 39%, 100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    40% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}

@-webkit-keyframes preloaderStretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1.0);
    }
}

@keyframes preloaderStretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
                transform: scaleY(0.4);
    }  20% {
        -webkit-transform: scaleY(1.0);
                transform: scaleY(1.0);
    }
}

@-webkit-keyframes preloaderStretchdelay2 {
    0%, 40%, 100% {
        -webkit-transform: translateY(-10px);
    }

    20% {
        -webkit-transform: translateY(-20px);
    }
}

@keyframes preloaderStretchdelay2 {
    0%, 40%, 100% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    } 20% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
}

@-webkit-keyframes preloaderCubeGridScale {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1);
    }
}

@keyframes preloaderCubeGridScale {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1);
    }
}

@-webkit-keyframes preloaderFoldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
                transform: perspective(140px) rotateX(0deg);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes preloaderFoldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
                transform: perspective(140px) rotateX(0deg);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

/* 3.2. DROPDOWN MENU */
.dropdown-menu {
    margin: 0;
    border-width: 0 0 2px;
    border-color: #da0000;
    border-radius: 0;
    box-shadow: 0 1px 15px rgba(0, 0, 0, .2);
}

.dropdown-menu > li + li {
    border-top: 1px solid #eee;
}

.dropdown-menu > li > a {
    padding-top: 9px;
    padding-bottom: 10px;
}

.dropdown-menu > .dropdown > .dropdown-menu {
    top: 0;
    left: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.dropdown-menu > .switch--left > .dropdown-menu,
.dropdown-menu > .switch--right > .dropdown-menu {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.dropdown-menu > .switch--left > .dropdown-menu {
    left: auto;
    right: 100%;
}

.dropdown-left > .dropdown-menu {
    left: auto;
    right: 0;
}

/* 3.3. PAGINATION */
.pagination {
    margin: -10px -5px 0;
    color: #999;
    font-size: 0;
    line-height: 0;
}

.pagination > li {
    display: inline-block;
    margin: 10px 5px 0;
    font-size: 16px;
    line-height: 26px;
    vertical-align: middle;
}

.pagination > li > a,
.pagination > li > span {
    min-width: 36px;
    padding: 0 3px;
    color: #999;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
}

.pagination > li:first-child > a,
.pagination > li:last-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > span {
    border-radius: 0;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li.active > span,
.pagination > li.active > span:hover {
    color: #fff;
    background-color: #da0000;
    border-color: #da0000;
}

.pagination-hint {
    margin-bottom: 0;
    color: #999;
    font-size: 16px;
    line-height: 36px;
    font-weight: 600;
}

/* 3.4. COUNTDOWN */
.countdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    line-height: 0;
}

.countdown ul li {
    display: inline-block;
    position: relative;
    margin-right: 42px;
    z-index: 0;
}

.countdown ul li:before,
.countdown ul li:after {
    content: " ";
    position: absolute;
    top: 50%;
    right: -24px;
    width: 5px;
    height: 5px;
    margin-top: -4px;
    background-color: #999;
    z-index: 0;
}

.countdown ul li:after {
    margin-top: 7px;
}

.countdown ul li:last-child:before,
.countdown ul li:last-child:after {
    display: none;
}

.countdown ul li strong {
    display: block;
    font-size: 48px;
    line-height: 52px;
    font-weight: normal;
}

.countdown ul li strong:before,
.countdown ul li strong:after {
    content: " ";
    position: absolute;
    top: 14px;
    right: -22px;
    width: 1px;
    height: 13px;
    background-color: #555;
}

.countdown ul li strong:after {
    top: auto;
    bottom: 5px;
}

.countdown ul li:last-child strong:before,
.countdown ul li:last-child strong:after {
    display: none;
}

.countdown ul li span {
    display: block;
    margin-top: 1px;
    font-size: 14px;
    line-height: 18px;
}

/* 3.5. COMMENT LIST */
.post--items-title + .comment--items {
    margin-top: 10px;
}

.comment--items > li + li,
.comment--items > li > .comment--items {
    margin-top: 20px;
}

.comment--items > li > .comment--items {
    padding-left: 30px;
}

.comment--img {
    max-width: 60px;
    margin-right: 20px;
    border: 2px solid #ccc;
}

.comment--info {
    padding: 16px 20px 3px;
    background-color: #f2f3f5;
    overflow: hidden;
}

.comment--header {
    margin-bottom: 8px;
    color: #999;
    line-height: 18px;
}

.comment--header .name {
    float: left;
    margin-bottom: 0;
    color: #222;
    font-weight: 600;
}

.comment--header .date {
    float: left;
    margin-left: 15px;
    margin-bottom: 0;
    padding-left: 14px;
    border-left: 1px solid #ccc;
}

.comment--header .reply {
    float: right;
    display: block;
}

.comment--header .rating {
    float: right;
    color: #da0000;
    font-size: 0;
    line-height: 0;
}

.comment--header .rating .nav > li {
    display: inline-block;
}

.comment--header .rating .nav > li + li {
    margin-left: 3px;
}

.comment--header .rating .nav > li > i {
    font-size: 14px;
    line-height: 18px;
}

/* 3.6. COMMENT FORM */
.comment-respond {
    padding: 23px 30px 30px;
    background-color: #f2f3f5;
}

.comment-respond .status .alert {
    border-radius: 0;
}

.comment-respond p {
    color: #222;
    font-weight: 600;
}

.comment-respond label {
    display: block;
    margin-bottom: 8px;
    color: #777;
    font-weight: 400;
}

.comment-respond label span {
    display: block;
    margin-bottom: 8px;
}

.comment-respond .form-control {
    border-color: #ccc;
}

.comment-respond .form-control:focus {
    border-color: #da0000;
}

.comment-respond textarea {
    min-height: 188px;
}

.comment-respond .btn {
    margin-top: 22px;
}

.comment-respond .rating {
    margin-top: -1px;
    margin-bottom: 8px;
}

.comment-respond .rating label {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 0;
    color: #222;
    font-weight: 600;
    vertical-align: top;
}

.comment-respond .rating .br-wrapper {
    display: inline-block;
}

.comment-respond .rating .br-widget a {
    display: inline-block;
    margin-right: 9px;
}

.comment-respond .rating .br-widget a:last-child {
    margin-right: 0;
}

.comment-respond .rating .br-widget a:after {
    color: #da0000;
    font-size: 14px;
}

.comment-respond .rating .br-widget a[data-rating-value="0"] {
    display: none;
}

/* 3.7. SECTION TITLE */
.section--title .h3 {
    margin: -5px 0 -1px;
    color: #222;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

/* 3.8. QUANTITY */
.quantity {
    display: inline-block;
    max-width: 60px;
    vertical-align: middle;
}

.quantity .form-control {
    height: 30px;
    padding: 2px 10px;
    border-width: 0;
    text-align: center;
}

/* 3.9. MAP FLUID */
.map--fluid {
    min-height: 300px;
}

/*------------------------------------*\
    4. WIDGETS
\*------------------------------------*/
.main--sidebar .widget + .widget {
    margin-top: 60px;
}

/* 4.1. WIDGET TITLE */
.widget--title {
    position: relative;
    padding: 12px 24px 13px 0;
    border-top: 2px solid #da0000;
    z-index: 0;
}

.widget--title .h4 {
    position: relative;
    margin: 0;
    color: #da0000;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 0;
}

.widget--title .icon {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -13px;
    color: #999;
    font-size: 16px;
    line-height: 26px;
}

.widget--title .nav {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15px;
    color: #999;
    font-size: 0;
    line-height: 0;
}

.widget--title .nav a {
    padding: 0;
    font-size: 16px;
    line-height: 26px;
}

.widget--title .nav span.divider {
    display: inline-block;
    margin: 0 5px;
    font-size: 16px;
    line-height: 26px;
}

.bg--color-2 .widget--title {
    border-color: #fff;
}

.bg--color-2 .widget--title .h4,
.bg--color-2 .widget--title .icon {
    color: #fff;
}

/* 4.2. AD WIDGET */
.ad--widget {
    padding: 30px 30px 15px;
    background-color: #f8f8f8;
    text-align: center;
}

.ad--widget > .row {
    margin: -10px -20px;
}

.ad--widget > .row > [class*='col-'] {
    padding-left: 10px;
    padding-right: 10px;
}

.ad--widget a {
    display: block;
}

.ad--widget img {
    margin-bottom: 15px;
}

/* 4.3. SOCIAL WIDGET */
.social--widget .nav {
    padding: 5px 0;
    background-color: #f8f8f8;
    font-size: 0;
    line-height: 0;
}

.social--widget.style--1 .nav > li {
    float: left;
    width: 33.3333%;
}

.social--widget.style--1 .nav > li > a {
    position: relative;
    padding: 15px 15px 8px;
    border-top: 1px solid #eee;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    z-index: 0;
}

.social--widget.style--1 .nav > li:nth-child(1) > a,
.social--widget.style--1 .nav > li:nth-child(2) > a,
.social--widget.style--1 .nav > li:nth-child(3) > a {
    border-top-width: 0;
}

.social--widget.style--1 .nav > li > a:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    max-height: 50px;
    border-right: 1px solid #eee;
    z-index: -1;
}

.social--widget.style--1 .nav > li:nth-child(1) > a:before,
.social--widget.style--1 .nav > li:nth-child(2) > a:before,
.social--widget.style--1 .nav > li:nth-child(3) > a:before {
    top: auto;
    bottom: 0;
}

.social--widget.style--1 .nav > li:nth-child(3n) > a:before {
    border-right-width: 0;
}

.social--widget.style--1 .nav > li > a > span {
    display: block;
}

.social--widget.style--1 .nav > li > a > span.icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid #777777;
    border-radius: 50%;
    font-size: 24px;
    line-height: 48px;
    -webkit-transition: color .25s, background-color .25s ease-in-out;
    transition: color .25s, background-color .25s ease-in-out;
}

.social--widget.style--1 ul.nav > li > a:hover > span.icon {
    color: #fff;
    background-color: #777;
}

.social--widget.style--1 .nav > li > a > span.count {
    margin-top: 6px;
    color: #222;
    font-size: 18px;
    line-height: 28px;
}

.social--widget.style--1 .nav > li > a > span.title {
    margin-top: -1px;
    color: #999;
    font-size: 14px;
    line-height: 24px;
}

/* 4.4. SUBSCRIBE WIDGET */
.subscribe--widget {
    padding: 30px 20px;
    background-color: #f8f8f8;
}

.subscribe--widget .content {
    margin-top: -7px;
    margin-bottom: 26px;
}

.subscribe--widget .content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.subscribe--widget .form-control {
    height: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #eee;
    border-width: 0;
}

.subscribe--widget .form-control + .form-control {
    margin-top: 20px;
}

.subscribe--widget .btn {
    min-width: 50px;
    padding: 6px 16px;
}

.subscribe--widget .form-control + .btn {
    margin-top: 20px;
}

.subscribe--widget .status {
    display: none;
    padding-top: 13px;
}

/* 4.5. LIST WIDGET */
.list--widget {
    background-color: #f8f8f8;
}

.list--widget-nav {
    padding: 20px 20px 15px;
    color: #999;
}

.list--widget-nav > .nav > li {
    border: 1px solid #eee;
    vertical-align: middle;
    -webkit-transition: border-color .25s, background-color .25s ease-in-out;
            transition: border-color .25s, background-color .25s ease-in-out;
}

.list--widget-nav > .nav > li + li {
    border-left-width: 0;
}

.list--widget-nav > .nav > li.active {
    background-color: #da0000;
    border-color: #da0000;
}

.list--widget-nav .nav > li > a {
    padding: 5px;
    line-height: 18px;
}

.list--widget-nav ul.nav > li.active > a {
    color: #fff;
}

.list--widget .post--items > .nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

.list--widget-nav + .post--items > .nav {
    border-top: 1px solid #eee;
}

.list--widget .post--items > .nav > li {
    padding-left: 20px;
    padding-right: 20px;
}

.list--widget .preloader {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.list--widget-2 .post--item.post--layout-3 .post--img .thumb,
.list--widget-2 .post--item.post--layout-4 .post--img .thumb {
    max-width: 70px;
    border: 2px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.list--widget-2 .post--info .title .h4:before {
    content: "\f10d";
    margin-left: 1px;
    margin-right: 9px;
    color: #999;
    font-family: "FontAwesome";
}

.list--widget-2 .post--info .meta > li:first-child {
    color: #555;
}

/* 4.6. POLL WIDGET */
.poll--widget {
    position: relative;
    background-color: #f8f8f8;
}

.poll--widget .title {
    padding: 12px 20px 13px;
    border-bottom: 1px solid #eee;
}

.poll--widget .title .h4 {
    margin: 0;
    color: #222;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}

.poll--widget .options {
    padding: 14px 20px 20px;
}

.poll--widget .checkbox,
.poll--widget .radio {
    margin: 0;
}

.poll--widget .checkbox + .checkbox,
.poll--widget .radio + .radio {
    margin-top: 18px;
}

.poll--widget .checkbox:before,
.poll--widget .checkbox:after,
.poll--widget .radio:before,
.poll--widget .radio:after {
    content: " ";
    display: table;
}

.poll--widget .checkbox:after,
.poll--widget .radio:after {
    clear: both;
}

.poll--widget .checkbox label,
.poll--widget .checkbox p,
.poll--widget .radio label,
.poll--widget .radio p {
    float: left;
    width: 50%;
}

.poll--widget .checkbox label,
.poll--widget .radio label {
    display: block;
    position: relative;
    padding-left: 22px;
    padding-right: 5px;
}

.poll--widget .checkbox label span:before,
.poll--widget .radio label span:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -6px;
    width: 12px;
    height: 12px;
    padding: 0 0 1px 1px;
    color: #222;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-family: "FontAwesome";
    font-size: 9px;
    line-height: 9px;
}

.poll--widget .radio label span:before {
    content: " ";
    border-radius: 50%;
    border-width: 4px;
    border-color: #eee;
}

.poll--widget .radio label input:checked + span:before {
    background-color: #222;
}

.poll--widget .checkbox label input:checked + span:before {
    content: "\f00c";
}

.poll--widget .checkbox label input,
.poll--widget .radio label input {
    display: none;
}

.poll--widget .checkbox p,
.poll--widget .radio p {
    display: block;
    position: relative;
    text-align: right;
}

.poll--widget .checkbox p:before,
.poll--widget .checkbox p span,
.poll--widget .radio p:before,
.poll--widget .radio p span {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    right: 36px;
    height: 12px;
    margin-top: -6px;
}

.poll--widget .checkbox p:before,
.poll--widget .radio p:before {
    border: 1px solid #ccc;
}

.poll--widget .checkbox p span,
.poll--widget .radio p span {
    width: 0%;
    background-color: #da0000;
    -webkit-transition: width .25s ease-in-out;
            transition: width .25s ease-in-out;
}

.poll--widget .options .btn {
    margin-top: 34px;
}

.poll--widget .preloader {
    display: none;
}

/* 4.7. ABOUT WIDGET */
.about--widget .action {
    margin-top: 16px;
}

.about--widget > .nav {
    font-size: 0;
    line-height: 0;
}

.about--widget .action + .nav {
    margin-top: 8px;
    padding-top: 11px;
    border-top: 1px solid #333;
}

.about--widget > .nav > li + li {
    margin-top: 10px;
}

.about--widget > .nav > li > .fa {
    min-width: 14px;
    margin-right: 8px;
    font-size: 14px;
    line-height: 24px;
}

.bg--color-2 .about--widget > .nav > li > .fa {
    color: #fff;
}

.about--widget > .nav > li > a,
.about--widget > .nav > li > span {
    display: inline-block;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
}

/* 4.8. LINKS WIDGET */
.links--widget .nav > li + li {
    margin-top: 5px;
}

.links--widget .nav > li > a {
    padding: 0 0 1px 12px;
    border-bottom: 1px dotted #333;
}

.links--widget .nav > li > a:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
    font-family: "FontAwesome";
}

/* 4.9. NAV WIDGET */
.nav--widget {
    color: #999;
    background-color: #f8f8f8;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}

.nav--widget .nav > li + li {
    border-top: 1px solid #eee;
}

.nav--widget .nav > li > a {
    padding: 12px 20px 13px;
    overflow: hidden;
    z-index: 0;
}

.nav--widget .nav > li > a span {
    display: block;
    float: left;
    padding-right: 6px;
    background-color: #f8f8f8;
}

.nav--widget .nav > li > a span + span {
    float: right;
    padding-right: 0;
    padding-left: 8px;
}

.nav--widget .nav > li > a span + span:before {
    content: " ";
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-bottom: 2px dotted;
    z-index: -1;
}

/* 4.10. TAGS WIDGET */
.tags--widget {
    padding: 20px 20px 10px;
    background-color: #f8f8f8;
}

.tags--widget .nav {
    color: #999;
    font-size: 0;
    line-height: 0;
    text-transform: uppercase;
}

.tags--widget .nav > li {
    display: inline-block;
}

.tags--widget .nav > li > a {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 1px solid;
    font-size: 12px;
    line-height: 22px;
}

.tags--widget .nav > li > a:hover {
    color: #fff;
    background-color: #da0000;
    border-color: #da0000;
}

.tags--widget .nav > li > a:before,
.tags--widget .nav > li > a:after {
    content: " ";
    display: table;
}

.tags--widget .nav > li > a:after {
    clear: both;
}

.tags--widget .nav > li > a > span {
    float: right;
    display: block;
    position: relative;
    margin: -1px -11px -1px 7px;
    padding: 1px 8px;
    color: #fff;
    background-color: #da0000;
    z-index: 0;
}

.tags--widget .nav > li > a > span:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.08;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";
    z-index: -1;
}
/* 4.11. SEARCH WIDGET */
.widget > .search--widget {
    padding: 30px 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
}

.search--widget .form-control {
    border-color: #eee;
}

.search--widget .input-group {
    padding: 2px;
    z-index: 1;
}

.search--widget .input-group .form-control {
    border-width: 0;
}

.search--widget .input-group-btn {
    position: static;
    padding-right: 1px;
    color: #999;
    font-size: 14px;
    line-height: 24px;
}

.search--widget .input-group-btn:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #eee;
    -webkit-transition: border-color .25s;
            transition: border-color .25s;
    z-index: -1;
}

.search--widget input:focus + .input-group-btn:before {
    border-color: #da0000;
}

.search--widget .input-group-btn button {
    padding: 4px 27px;
}

.search--widget .form-control + .btn {
    margin-top: 20px;
    padding: 5px 20px;
}

.search--widget button.dropdown-toggle {
    margin: -1px 0 -1px -1px;
    padding: 7px 12px;
    border-width: 0;
    background-color: #eee;
}

.search--widget .input-group-btn:first-child > .btn {
    margin-left: -1px;
    margin-right: 0;
}

.search--widget button.dropdown-toggle:hover {
    background-color: #da0000;
}

.search--widget .dropdown-menu {
    padding: 0 0 2px;
}

.search--widget li label {
    display: block;
    padding: 3px 13px;
    margin-bottom: 0;
    font-weight: 600;
    cursor: pointer;
}

.search--widget li label input {
    display: none;
}

.search--widget li label span {
    display: block;
    -webkit-transition: color .25s;
    transition: color .25s;
}

.search--widget li label span:hover,
.search--widget li label input:checked + span {
    color: #da0000;
}

/* 4.12. CART WIDGET */
.cart--widget {
    padding: 20px 0;
    color: #999;
    background-color: #f8f8f8;
}

.cart--widget li {
    padding-left: 20px;
    padding-right: 35px;
}

.cart--widget li + li {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.cart--widget .img {
    float: left;
    max-width: 80px;
    margin-right: 10px;
}

.cart--widget .img a {
    display: block;
    position: relative;
    z-index: 0;
}

.cart--widget .img a:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    opacity: 0.35;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    -webkit-transition: opacity .25s ease-in-out;
            transition: opacity .25s ease-in-out;
    z-index: 1;
}

.cart--widget .img a:hover:before {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.cart--widget .info .h4 {
    margin: -8px 0 0;
    color: #222;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}

.cart--widget .info .h4 a {
    display: inline;
}

.cart--widget .info {
    overflow: hidden;
}

.cart--widget .info p {
    margin-top: 3px;
}

.cart--widget .remove {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -12px;
    padding: 0;
}

.cart--widget li + li .remove {
    margin-top: -2px;
}

.cart--widget .footer {
    margin-top: 20px;
    padding: 20px 20px 0;
    border-top: 1px solid #eee;
}

.cart--widget .footer .amount {
    margin-top: -3px;
}

.cart--widget .footer .amount p {
    float: left;
    margin-bottom: 18px;
    color: #222;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.cart--widget .footer .amount p + p {
    float: right;
    color: #da0000;
    font-size: 26px;
    font-weight: 700;
}

.cart--widget .footer .actions {
    border-top: 1px solid #eee;
}

.cart--widget .footer .actions .btn {
    margin-top: 20px;
}

.cart--widget .footer .actions .btn-primary {
    float: right;
}

/* 4.13. TWITTER WIDGET */
.twitter--widget {
    border: 1px solid #f8f8f8;
    font-size: 0;
    line-height: 0;
}

/* 4.14. FLICKER WIDGET */
.flicker--widget {
    padding: 15px;
    background-color: #f8f8f8;
}

div#flickr_badge_wrapper {
    width: 100%;
}

.flicker--widget img {
    width: 72px;
    height: 72px;
}

.flicker--widget a[href="https://www.flickr.com/"] {
    display: block;
    padding: 0 5px;
    text-align: center;
}

/* 4.15. PROFILE WIDGET */
.profile--widget {
    background-color: #f8f8f8;
}

.profile--widget .img img {
    border-radius: 50%;
}

.profile--widget .social {
    margin-bottom: 0;
}

/*------------------------------------*\
    5. HEADER SECTION
\*------------------------------------*/
/* 5.1. HEADER TOPBAR */
.header--topbar {
    padding: 13px 0 6px;
    color: #999;
    font-size: 0;
    line-height: 0;
}

.header--topbar.bg--color-1 {
    color: #fff;
}

.header--topbar .nav {
    display: inline-block;
    margin: 0 -10px 7px 15px;
    padding-left: 5px;
    border-left: 1px solid #555;
    font-size: 14px;
    line-height: 24px;
}

.header--topbar.bg--color-1 .nav {
    border-color: rgba(255, 255, 255, 0.75);
}


.header--topbar .nav:first-child {
    margin-left: -10px;
    padding-left: 0;
    border-left-width: 0;
}

.header--topbar .nav > li {
    float: left;
    margin: 0 10px;
}

.header--topbar .nav > li > a {
    padding: 0;
}

.header--topbar .nav > li > a {
    -webkit-transition: opacity .25s;
            transition: opacity .25s;
}

.header--topbar ul.nav > li > a:hover,
.header--topbar ul.nav > li.open > a {
    color: inherit;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.header--topbar .dropdown-menu {
    min-width: 105px;
    margin-top: 13px;
    margin-left: -15px;
    left: 0;
}

.header--topbar.bg--color-1 .dropdown-menu {
    color: #999;
}

.header--topbar .dropdown-menu > li > a {
    padding: 5px 15px;
}

.header--topbar-action {
    color: #fff;
}


/* 5.2. HEADER MAINBAR */
.header--mainbar {
    padding: 15px 0;
}

.header--style-7 .header--mainbar,
.header--style-8 .header--mainbar {
    border-bottom: 1px solid #eee;
}

.header--logo {
    font-size: 0;
    line-height: 0;
}

.header--logo .h1 {
    display: inline-block;
    margin: 0;
    color: #1d1d1d;
    font-weight: 700;
}

.header--logo a {
    display: table-cell;
    height: 90px;
    vertical-align: middle;
}

/* 5.3. HEADER NAVBAR */
.header--navbar {
    margin-bottom: 0;
    border-style: solid;
    border-width: 2px 0 0;
    border-radius: 0;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow .25s ease-in-out;
    transition: box-shadow .25s ease-in-out;
}

.header--navbar .container {
    position: relative;
}

.header--navbar-inner {
    padding: 0 15px;
}

.header--navbar .navbar-toggle {
    margin: 12px 0 13px;
    background-color: #222;
    border-color: #222;
    border-radius: 0;
    -webkit-transition: border-color .55s, background-color .55s ease-in-out;
            transition: border-color .55s, background-color .55s ease-in-out;
}

.header--navbar .navbar-toggle.collapsed {
    background-color: transparent;
    border-color: #222;
}

.header--navbar.bg--color-1 .navbar-toggle.collapsed {
    border-color: #fff;
}

.header--navbar .navbar-toggle .icon-bar {
    background-color: #fff;
    border-radius: 0;
}

.header--navbar .navbar-toggle.collapsed .icon-bar {
    background-color: #222;
}

.header--navbar.bg--color-1 .navbar-toggle.collapsed .icon-bar {
    background-color: #fff;
}

.header--navbar .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

/* 5.3.1. HEADER MENU LINKS */
.header--menu-links {
    font-size: 16px;
    line-height: 26px;
}

.header--menu-links > li > a {
    padding: 18px 15px 19px;
    border-bottom: 2px solid transparent;
}

.header--menu-links > li > a:hover,
.header--menu-links > li.active > a,
.header--menu-links > li.open > a,
.header--menu-links > li.open > a:hover,
.header--menu-links > li.open > a:focus {
    border-bottom-color: #da0000;
}

.bg--color-1 .header--menu-links > li > a:hover,
.bg--color-1 .header--menu-links > li.active > a,
.bg--color-1 .header--menu-links > li.open > a,
.bg--color-1 .header--menu-links > li.open > a:hover,
.bg--color-1 .header--menu-links > li.open > a:focus {
    border-bottom-color: inherit;
}

ul.header--menu-links.nav > li > a:hover,
ul.header--menu-links.nav > li.active > a,
ul.header--menu-links.nav > li.active > a:hover,
ul.header--menu-links.nav > li.open > a,
ul.header--menu-links.nav > li.open > a:hover,
ul.header--menu-links.nav > li.open > a:focus {
    color: inherit;
}

.header--menu-links > .dropdown > .dropdown-menu {
    color: #555;
    font-size: 16px;
    line-height: 26px;
}

/* 5.3.2. HEADER MEGAMENU */
.header--menu-links > .megamenu {
    position: static;
}

.header--menu-links > .megamenu > .dropdown-menu {
    position: absolute !important;
    left: 15px;
    right: 15px;
    padding: 3px 10px 5px;
    font-size: 0;
    line-height: 0;
}

.header--menu-links > .megamenu > .dropdown-menu:before,
.header--menu-links > .megamenu > .dropdown-menu:after {
    content: " ";
    display: table;
}

.header--menu-links > .megamenu > .dropdown-menu:after {
    clear: both;
}

.header--menu-links > .megamenu > .dropdown-menu > .dropdown {
    float: left;
    margin: 0 10px;
}

.header--menu-links > .megamenu > .dropdown-menu > .dropdown + li {
    border-top-width: 0;
}

.header--menu-links > .megamenu > .dropdown-menu > .dropdown > a {
    padding-left: 0;
    padding-right: 0;
    color: #222;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}

.header--menu-links > .megamenu > .dropdown-menu > .dropdown > .dropdown-menu {
    display: block;
    float: none;
    position: relative;
    left: 0;
    right: 0;
    padding: 0;
    border-bottom-width: 0;
    box-shadow: none;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.header--menu-links > .megamenu > .dropdown-menu > .dropdown > .dropdown-menu > li > a {
    padding-left: 0;
    padding-right: 0;
}

/* 5.3.3. HEADER MEGAMENU FILTER */
.megamenu--filter {
    margin: 2px -10px 0;
    font-size: 16px;
    line-height: 26px;
}

.megamenu--filter .nav > li + li {
    border-top: 1px solid #eee;
}

.megamenu--filter .nav > li > a {
    padding: 7px 20px 8px;
}

.megamenu--filter .nav > li > a > .fa {
    margin-left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity .25s, margin .25s ease-in-out;
            transition: opacity .25s, margin .25s ease-in-out;
}

.megamenu--filter .nav > li > a:hover > .fa,
.megamenu--filter .nav > li.active > a > .fa {
    margin-left: 5px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* 5.3.4. HEADER MEGAMENU POSTS */
.megamenu--posts {
    position: relative;
    margin: 17px 3px 20px;
    z-index: 0;
}

.megamenu--posts > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.megamenu--posts > ul > li {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.megamenu--posts > ul > li > .img {
    position: relative;
    z-index: 0;
}

.megamenu--posts > ul > li > .img a {
    display: block;
    position: relative;
    z-index: 0;
}

.megamenu--posts > ul > li > .img a.thumb:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    background: -webkit-linear-gradient(top, #fff 0%, #000 100%);
    background: linear-gradient(to bottom, #fff 0%, #000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
    opacity: 0.35;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    z-index: 1;
}

.megamenu--posts > ul > li > .img a.cat {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    z-index: 0;
}

.megamenu--posts > ul > li > .img a.cat:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -webkit-transition: background-color .25s ease-in-out;
            transition: background-color .25s ease-in-out;
    z-index: -1;
}

.megamenu--posts > ul > li > .img a.cat:hover:before {
    background-color: #da0000;
}

.megamenu--posts > ul > li > .img a.icon {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 36px;
    padding-bottom: 2px;
    color: #fff;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    z-index: 0;
}

.megamenu--posts > ul > li > .img a.icon:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #da0000;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -webkit-transition: background-color .25s ease-in-out;
            transition: background-color .25s ease-in-out;
    z-index: -1;
}

.megamenu--posts > ul > li > .img a.icon:hover:before {
    background-color: #000;
}

.megamenu--posts > ul > li > .title {
    display: block;
    margin: -5px 0 -7px;
    color: #222;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.megamenu--posts > ul > li:hover > .title {
    color: #da0000;
}

.megamenu--posts > ul > li > .img + .title {
    margin-top: 10px;
}

.megamenu--posts .preloader {
    display: none;
    bottom: -5px;
    z-index: 1;
}

.megamenu--posts .preloader:before {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

/* 5.3.5. HEADER MEGAMENU PAGINATION */
.megamenu--pagination {
    margin-top: 44px;
    margin-bottom: 8px;
    color: #999;
    text-align: center;
}

.megamenu--pagination a {
    margin: 0 5px;
    font-size: 16px;
    line-height: 26px;
}

.megamenu--pagination .tooltip-inner {
    padding: 5px 7px 4px;
    background-color: #222;
    border-radius: 0;
}

.megamenu--pagination .tooltip-arrow {
    border-top-color: #222;
}

/* 5.3.6. HEADER SEARCH FORM */
.header--search-form {
    position: relative;
    min-width: 32px;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    text-align: right;
    z-index: 1;
}

.header--search-form .form-control {
    display: block;
    position: absolute;
    top: 11px;
    right: 0;
    width: 0;
    background-color: #f0f0f0;
    border: 0;
    border-radius: 20px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transition-property: width, opacity, visibility;
            transition-property: width, opacity, visibility;
    -webkit-transition-duration: .55s;
            transition-duration: .55s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    z-index: 0;
}

.header--search-form.active .form-control {
    width: 220px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}

.header--search-form .btn {
    position: relative;
    padding: 15px 0;
    background-color: transparent;
    font-size: 16px;
    line-height: 26px;
    -webkit-transition: color .35s, padding .35s ease-in-out;
            transition: color .35s, padding .35s ease-in-out;
    outline: 0;
    z-index: 1;
}

.header--search-form .btn:hover,
.header--search-form .btn:focus {
    color: inherit;
}

.header--search-form.active .btn {
    padding-right: 15px;
    color: #999;
    box-shadow: none;
    outline: 0;
}

.header--search-form.active .btn:hover,
.header--search-form.active .btn:focus {
    color: #999;
}

/*------------------------------------*\
    6. BANNER SECTION
\*------------------------------------*/
.banner--content .title .h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner--content .sub-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.banner--section .buttons {
    font-size: 0;
    line-height: 0;
}

.banner--section .buttons .btn {
    min-width: 150px;
    margin: 15px 10px 0;
}

/*------------------------------------*\
    7. FEATURES SECTION
\*------------------------------------*/
/* 7.1. FEATURE ITEM */
.feature--item .icon {
    width: 50px;
    margin-right: 20px;
    color: #fff;
    background-color: #da0000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}

.feature--item .info {
    overflow: hidden;
}

.feature--item .title .h3 {
    margin: 11px 0 0;
    color: #222;
    font-weight: 600;
}

.feature--item .content {
    margin-top: 7px;
    font-size: 16px;
    line-height: 26px;
}

/* 7.2. FEATURE CONTENT */
.feature--content .title {
    margin-bottom: 17px;
    color: #222;
}

.feature--content .title .h3 {
    margin: 0;
}

/*------------------------------------*\
    8. MAIN CONTENT SECTION
\*------------------------------------*/
/* 8.1. MAIN CONTENT NAVBAR */
.posts--filter-bar .nav {
    margin-top: 5px;
    color: #999;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.posts--filter-bar .nav > li {
    display: inline-block;
    margin-top: 15px;
}

.posts--filter-bar .nav > li > a {
    position: relative;
    padding: 0 20px 7px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    z-index: 0;
}

.posts--filter-bar .nav > li > a > i {
    display: block;
    margin-bottom: 4px;
    -webkit-transition: color .25s, border-color .25s, background-color .25s ease-in-out;
    transition: color .25s, border-color .25s, background-color .25s ease-in-out;
}

.posts--filter-bar .nav > li > a:before {
    content: " ";
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #f0f0f0;
}

.posts--filter-bar .nav > li:first-child > a {
    padding-left: 0;
}

.posts--filter-bar .nav > li:last-child > a {
    padding-right: 0;
}

.posts--filter-bar .nav > li:last-child > a:before {
    border-right-width: 0;
}

/* 8.2. NEWS UPDATES BAR */
.news--ticker {
    margin-top: 30px;
}

.news--ticker:before,
.news--ticker:after {
    content: " ";
    display: table;
}

.news--ticker:after {
    clear: both;
}

.news--ticker .title {
    float: left;
    padding: 11px 30px 13px;
    color: #fff;
    background-color: #1d1d1d;
    font-size: 0;
    line-height: 0;
}

.news--ticker .title h2 {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}

.news--ticker .title span {
    color: #ccc;
    font-size: 14px;
    line-height: 24px;
}

.news-updates--list {
    direction: ltr;
    position: relative;
    max-height: 50px;
    padding: 0 12px;
    color: #999;
    background-color: #fafafa;
    overflow: hidden;
    z-index: 0;
}

.news-updates--list:before,
.news-updates--list:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 12px;
    background-color: #fafafa;
    z-index: 1;
}

.news-updates--list:after {
    left: auto;
    right: 0;
}

.news-updates--list .nav {
    font-size: 0;
    line-height: 0;
}

.news-updates--list .nav li {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
}

.news-updates--list .nav li + li {
    margin-left: 30px;
}

.news-updates--list .nav li .h3 {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}

.news-updates--list .nav li .h3 a {
    display: block;
    padding: 13px 0;
}

/* 8.3. MAIN CONTENT BREADCRUMB */
.main--breadcrumb {
    margin-top: 23px;
}

.main--breadcrumb .breadcrumb {
    padding: 0;
    color: #555;
    background-color: transparent;
    border-radius: 0;
}

.main--breadcrumb .breadcrumb {
    font-size: 0;
    line-height: 0;
}

.main--breadcrumb .breadcrumb .active {
    color: #da0000;
}

.main--breadcrumb .breadcrumb li:before {
    padding: 0 3px 0 4px;
    font-size: 14px;
    line-height: 24px;
}

.main--breadcrumb .breadcrumb li a,
.main--breadcrumb .breadcrumb li span {
    font-size: 14px;
    line-height: 24px;
}

/* X.X. PAGE TITLE */
.page--title .h2 {
    margin-top: -9px;
    margin-bottom: 0;
    color: #222;
    font-weight: 600;
}

.bg--color-1 .page--title .h2,
.bg--color-2 .page--title .h2 {
    color: #fff;
}

.page--title .h2 span {
    color: #da0000;
}

.page--title p {
    margin-top: 15px;
    margin-bottom: -5px;
}

.page--title .action {
    margin-top: 26px;
}

.page--title.lined .h2 {
    position: relative;
    padding-bottom: 11px;
    z-index: 0;
}

.page--title.lined .h2:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 60px;
    height: 2px;
    margin: 0 auto;
    background-color: #da0000;
}

.bg--color-1 .page--title.lined .h2:before {
    background-color: #fff;
}

/* 8.5. POST ITEMS TITLE */
.post--items-title {
    position: relative;
    padding: 12px 57px 13px 0;
    border-top: 2px solid #da0000;
    z-index: 0;
}

.post--items-title .h4 {
    position: relative;
    margin: 0;
    color: #da0000;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 0;
}

.post--items-title .nav {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15px;
    color: #999;
    font-size: 0;
    line-height: 0;
}

.post--items-title .nav a {
    padding: 0;
    font-size: 16px;
    line-height: 26px;
}

.post--items-title .nav span.divider {
    display: inline-block;
    margin: 0 5px;
    font-size: 16px;
    line-height: 26px;
}

.post--items-title .icon {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -14px;
    color: #999;
    font-size: 16px;
    line-height: 26px;
}

/* 8.6. POST ITEMS */
.post--items {
    position: relative;
    z-index: 0;
}

.post--items.post--items-1 {
    margin-top: -15px;
}

.main--breadcrumb + .post--items.post--items-1 {
    margin-top: 0;
    padding-top: 10px;
}

.post--item.post--layout-3:before,
.post--item.post--layout-3:after,
.post--item.post--layout-4:before,
.post--item.post--layout-4:after {
    content: " ";
    display: table;
}

.post--item.post--layout-3:after,
.post--item.post--layout-4:after {
    clear: both;
}

.post--items.post--items-3 > .nav > li + li,
.post--items.post--items-4 > .nav > li > .nav > li + li {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}

.post--items.post--items-5 > .nav > li + li {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #eee;
}

.post--item {
    position: relative;
    z-index: 0;
}

.post--items.post--items-1 .post--item {
    margin-top: 15px;
}

.post--items hr.divider {
    margin: 15px 0;
}

.post--items hr.divider--25 {
    margin: 25px 0;
}

.post--items .preloader {
    display: none;
}

/* 8.6.1. POST IMAGE */
.post--img {
    position: relative;
}

.post--single .post--info + .post--img {
    margin-top: 21px;
}

.post--img .thumb {
    position: relative;
    z-index: 0;
}

.post--item.post--layout-3 .post--img .thumb,
.post--item.post--layout-4 .post--img .thumb {
    float: left;
    max-width: 100px;
    margin-right: 20px;
}

.post--item.post--layout-4 .post--img .thumb {
    max-width: 150px;
}

.post--img a {
    display: block;
}

.post--item.post--layout-1 .post--img .thumb:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    background: -webkit-linear-gradient(top, #fff 0%, #000 100%);
    background: linear-gradient(to bottom, #fff 0%, #000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
    opacity: 0.35;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    -webkit-transition: opacity .25s ease-in-out;
            transition: opacity .25s ease-in-out;
    z-index: 1;
}

.post--item.post--layout-1 .post--img:hover .thumb:before {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.post--item.post--layout-1.post--title-largest .post--img span.thumb {
    display: block;
}

.post--item.post--type-video .thumb:after,
.post--item.post--type-audio .thumb:after {
    content: "\f04b";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -25px;
    padding: 3px 19px 3px 20px;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    font-family: "FontAwesome";
    text-align: center;
    -webkit-transition: color .25s, background-color .25s ease-in-out;
            transition: color .25s, background-color .25s ease-in-out;
    z-index: 1;
}

.post--item.post--type-audio .thumb:after {
    margin-left: -17.5px;
    padding: 3px 9px 4px 11px;
    border-radius: 50%;
    color: #fff;
    background-color: transparent;
    border: 2px solid #000;
}

.post--item.post--type-video:hover .thumb:after {
    background-color: #c21418;
}

.post--item.post--type-audio:hover .thumb:after {
    border-color: #c21418;
}

.post--item.post--type-video.post--layout-3 .thumb:after,
.post--item.post--type-audio.post--layout-3 .thumb:after,
.post--item.post--type-video.post--layout-4 .thumb:after,
.post--item.post--type-audio.post--layout-4 .thumb:after {
    margin-top: -10px;
    margin-left: -15px;
    padding: 6px 11px 6px 13px;
    font-size: 8px;
    line-height: 8px;
}

.post--item.post--type-audio.post--layout-3 .thumb:after,
.post--item.post--type-audio.post--layout-4 .thumb:after {
    margin-left: -10.5px;
    padding: 4px 5px 5px 6px;
    border-radius: 50%;
}

.post--img .thumb img {
    width: 100%;
}

.post--img a.cat {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    z-index: 1;
}

.post--img a.cat:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -webkit-transition: background-color .25s ease-in-out;
            transition: background-color .25s ease-in-out;
    z-index: -1;
}

.post--img a.cat:hover,
.post--img a.cat:focus {
    color: #fff;
}

.post--img a.cat:hover:before {
    background-color: #da0000;
}

.post--img .icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 36px;
    color: #fff;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    z-index: 1;
}

.post--img .icon:hover,
.post--img .icon:focus {
    color: #fff;
}

.post--img .icon:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #da0000;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -webkit-transition: background-color .25s ease-in-out;
            transition: background-color .25s ease-in-out;
    z-index: -1;
}

.post--img .icon:hover:before {
    background-color: #000;
}

/* 8.6.2. POST MAP */
.post--map {
    color: #fff;
}

.post--item.post--layout-1 .post--map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.post--map .btn-link {
    display: inline-block;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 10px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 22px;
    z-index: 1;
}

.post--map .btn-link i {
    margin-right: 15px;
}

.post--map .map--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition-property: opacity, visibility, -webkit-transform;
            transition-property: opacity, visibility, -webkit-transform;
            transition-property: opacity, visibility, transform;
            transition-property: opacity, visibility, transform, -webkit-transform;
    -webkit-transition-duration: .25s, .25s, .55s;
            transition-duration: .25s, .25s, .55s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    z-index: 2;
}

.post--map .btn-link.active + .map--wrapper {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    -webkit-transform: scale(1.0);
            transform: scale(1.0);
}

.post--map .map--wrapper > div {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    background-color: #f8f8f8;
}

/* 8.6.3. POST CATS, TAGS */
.post--cats .nav,
.post--tags .nav {
    margin: 18px -5px 11px;
    color: #999;
    font-size: 0;
    line-height: 0;
}

.post--cats .nav {
    margin-top: -12px;
}

.post--img + .post--cats .nav {
    margin-top: 18px;
}

.post--tags .nav {
    margin-top: 8px;
}

.post--cats .nav li,
.post--tags .nav li {
    display: inline-block;
    margin: 10px 5px 0;
    vertical-align: middle;
}

.post--cats .nav li span,
.post--tags .nav li span {
    color: #777;
    font-size: 16px;
    line-height: 26px;
}

.post--cats .nav li a,
.post--tags .nav li a {
    padding: 0 9px;
    border: 1px solid #999;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}

.post--cats .nav li a:hover,
.post--tags .nav li a:hover {
    color: #fff;
    background-color: #da0000;
    border-color: #da0000;
}

/* 8.6.4. POST INFO */
.post--item.post--layout-1 .post--info {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
    color: #fff;
    z-index: 1;
}

.post--item.post--layout-1 .post--info-vc {
    top: 15px;
}

.post--item.post--layout-1 .post--map + .post--info {
    bottom: 41px;
}

.post--item.post--layout-2 .post--info {
    margin-top: 7px;
}

.post--info .meta {
    margin: 0 -7.5px;
    color: #999;
    font-size: 0;
    line-height: 0;
}

.post--item.post--layout-1 .post--info .meta {
    color: inherit;
}

.post--item.post--layout-3 .post--info,
.post--item.post--layout-4 .post--info {
    overflow: hidden;
}

.post--info .meta > li {
    display: inline-block;
    margin: 0 7.5px;
}

.post--item.post--layout-3 .post--info .meta,
.post--item.post--layout-4 .post--info .meta,
.post--item .row .post--info .meta {
    margin-top: -7px;
}

.list--widget-2 .post--item.post--layout-3 .post--info .meta,
.list--widget-2 .post--item.post--layout-4 .post--info .meta {
    margin-top: 0;
}

.post--info .meta > li > a,
.post--info .meta > li > span {
    padding: 0;
    font-size: 14px;
    line-height: 24px;
}

.post--items.post--items-2 .post--item.post--layout-2 .post--info .title {
    margin-bottom: -4px;
}

.post--single .post--info .title {
    margin-top: 4px;
}

.post--info .title .h4 {
    margin: 0;
    color: #222;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}

.post--item.post--layout-1 .post--info .title .h4 {
    margin-bottom: -3px;
    color: inherit;
    font-size: 14px;
    line-height: 20px;
}

.post--items.post--items-1 .post--item .post--info .title .h4 {
    font-weight: 600;
}

.post--item.post--title-large .post--info .title .h4 {
    font-size: 16px;
    line-height: 26px;
}

.post--item.post--title-larger .post--info .title .h4 {
    font-size: 18px;
    line-height: 26px;
}

.post--item.post--title-largest .post--info .title .h4 {
    font-size: 36px;
    line-height: 46px;
}

.post--item.post--layout-2 .post--info .title .h4 {
    margin-top: 1px;
    font-weight: 700;
}

.post--single .post--info .title .h4 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}

.post--item .post--info .title .h4 a {
    display: inline;
}

/* 8.6.5. POST CONTENT */
.post--content:before,
.post--content:after,
.comment--content:before,
.comment--content:after {
    content: " ";
    display: table;
}

.post--content:after,
.comment--content:after {
    clear: both;
}

.post--item .post--content {
    margin-top: 8px;
}

.post--single .post--content {
    margin-top: 14px;
}

.post--single .post--img + .post--content {
    margin-top: 23px;
}

.post--content h1, .comment--content h1,
.post--content h2, .comment--content h2,
.post--content h3, .comment--content h3,
.post--content h4, .comment--content h4,
.post--content h5, .comment--content h5,
.post--content h6, .comment--content h6 {
    color: #222;
    font-weight: 600;
}

.post--single .post--content p,
.post--single .post--content ul,
.comment--content p,
.comment--content ul {
    margin-bottom: 10px;
}

.post--content blockquote,
.comment--content blockquote {
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 34px;
    padding-right: 34px;
    color: #999;
    font-style: italic;
    border-left-width: 0;
}

.post--content blockquote:before,
.comment--content blockquote:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4px;
    background-color: #f2f3f5;
}

.post--content blockquote footer,
.comment--content blockquote footer {
    position: relative;
    padding-bottom: 6px;
    color: #222;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
}

.post--content blockquote footer:before,
.comment--content blockquote footer:before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #f2f3f5;
}

.post--content .list {
    padding-left: 0;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
}

.post--content .list li:before {
    content: "\f105";
    margin-right: 8px;
    font-family: "FontAwesome";
}

.post--content .list li + li {
    margin-top: 5px;
}

.post--content .img-caption {
    text-align: right;
}

/* 8.6.6. POST ACTION */
.post--item .post--action {
    margin-top: 5px;
    margin-bottom: -7px;
    color: #222;
}

/* 8.6.7. POST SOCIAL */
.post--social {
    margin-top: 10px;
    font-size: 0;
    line-height: 0;
}

.post--tags + .post--social {
    margin-top: 18px;
}

.post--social .title {
    display: inline-block;
    min-width: 17px;
    margin-top: 10px;
    margin-right: 5px;
    color: #777;
    font-size: 16px;
    line-height: 26px;
    vertical-align: middle;
}

/* 8.6.8. POST AUTHOR INFO */
.post--author-info {
    position: relative;
    min-height: 200px;
    margin: 30px 0;
    padding: 27px 30px 24px 180px;
    border: 1px solid #eee;
}

.post--author-info .img {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    padding: 30px;
    color: #222;
    background-color: #f2f3f5;
}

.post--author-info .img img {
    display: block;
    max-width: 90px;
    margin: 0 auto;
}

.post--author-info .img .name {
    margin-top: 7px;
}

.post--author-info .info {
    overflow: hidden;
}

.post--author-info .info .h4 {
    margin: 0;
    color: #222;
    font-weight: 600;
}

.post--author-info .info .content {
    margin-top: 20px;
}

.post--author-info .info .social {
    margin: 9px -8px 0;
    color: #999;
}

.post--author-info .info .social > li {
    float: left;
}

.post--author-info .info .social > li > a {
    padding: 8px 8px 0;
}

/* 8.6.9. POST NAV */
.post--nav {
    position: relative;
    z-index: 0;
}

.post--nav:before {
    content: " ";
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 34px;
    width: 2px;
    margin: 0 auto;
    background-color: #eee;
    z-index: -1;
}

.post--nav > .nav > li + li {
    text-align: right;
}

.post--nav .post--img .thumb {
    display: inline-block;
    max-width: 80px;
    margin-bottom: 8px;
}

.post--nav .post--img .thumb:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity .25s ease-in-out;
            transition: opacity .25s ease-in-out;
    z-index: 1;
}

.post--nav .post--img .thumb:hover:before {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.post--nav .post--img .thumb:after {
    content: "\f177";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -8px;
    color: #fff;
    font-family: "FontAwesome";
    font-size: 16px;
    line-height: 26px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity .25s ease-in-out;
            transition: opacity .25s ease-in-out;
    z-index: 1;
}

.post--nav .post--img .thumb:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.post--nav > .nav > li + li .post--img .thumb:after {
    content: "\f178";
}

/* 8.7. PRODUCT ITEMS */
.product--items {
    position: relative;
    z-index: 0;
}

.product--items .preloader {
    display: none;
}

.product--item {
    padding: 0 0 9px;
    -webkit-transition: box-shadow .25s ease-in-out, padding .25s ease-in-out;
            transition: box-shadow .25s ease-in-out, padding .25s ease-in-out;
}

.product--item:hover {
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.product--item .img {
    position: relative;
    margin: 0 0 12px;
    -webkit-transition: margin .25s ease-in-out;
            transition: margin .25s ease-in-out;
    z-index: 0;
}

.product--item:hover .img {
    margin-left: -15px;
    margin-right: -15px;
}

.product--item .img:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255,255,255);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity .25s ease-in-out;
            transition: opacity .25s ease-in-out;
    z-index: 1;
}

.product--item .img:hover:before {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.product--item .img .actions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity .25s ease-in-out;
            transition: opacity .25s ease-in-out;
    z-index: 1;
}

.product--item .img:hover .actions {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.product--item .img img {
    width: 100%;
}

.product--item .img .actions .btn {
    margin: 7.5px;
    padding-left: 10px;
    padding-right: 10px;
}

.product--item .img .actions .btn .fa {
    margin-right: 8px;
}

.product--item .img .actions .nav {
    font-size: 0;
    line-height: 0;
}

.product--item .img .actions .nav > li {
    display: inline-block;
    margin: 7.5px;
}

.product--item .img .actions .nav > li > a {
    min-width: 30px;
    padding: 0;
    color: #fff;
    background-color: #da0000;
    font-size: 14px;
    line-height: 30px;
}

.product--item .img .actions .nav > li > a:hover {
    background-color: #000;
}

.product--item .title .h5 {
    margin: 0;
    color: #222;
    font-weight: 700;
}

.product--item .price {
    margin-top: 5px;
}

.product--item .price .del {
    margin-right: 15px;
    color: #999;
}

.product--item .rating {
    color: #999;
    -webkit-transition: color .25s;
            transition: color .25s;
}

.product--item:hover .rating {
    color: #da0000;
}

.product--item .rating .nav {
    margin: 4px -2px 0;
    font-size: 0;
    line-height: 0;
}

.product--item .rating .nav li {
    display: inline-block;
    margin: 0 2px;
}

.product--item .rating .nav li i {
    font-size: 14px;
    line-height: 24px;
}

.product--img-gallery .nav {
    margin-top: 15px;
}

.product--img-gallery .nav > li {
    margin-top: 15px;
}

.product--img-gallery .nav > li > a {
    padding: 0;
}

.product--img-gallery .nav > li > a:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity .25s ease-in-out;
            transition: opacity .25s ease-in-out;
    z-index: 1;
}

.product--img-gallery .nav > li.active > a:before {
    opacity: 0.35;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
}

.product--summery .title .h4 {
    margin: -3px 0 0;
    color: #222;
    font-weight: 600;
}

.product--summery .rating {
    margin-top: 21px;
    color: #999;
}

.product--summery .rating {
    font-size: 0;
    line-height: 0;
}

.product--summery .rating .nav {
    display: inline-block;
    margin-right: 20px;
    color: #da0000;
}

.product--summery .rating .nav > li {
    display: inline-block;
}

.product--summery .rating .nav > li + li {
    margin-left: 3px;
}

.product--summery .rating .nav > li > i {
    font-size: 14px;
    line-height: 24px;
}

.product--summery .rating > a {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
}

.product--summery .price {
    margin-top: 15px;
}

.product--summery .price span {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.product--summery .price span.del {
    margin-right: 10px;
    color: #999;
}

.product--summery .note {
    margin-top: 14px;
    margin-bottom: 0;
    color: #999;
}

.product--summery .note strong {
    margin-right: 4px;
    color: #222;
}

.product--summery .note + .note {
    margin-top: 16px;
}

.product--summery .description {
    margin-top: 16px;
}

.product--summery .cart {
    margin-top: 13px;
    font-size: 0;
    line-height: 0;
}

.product--summery .cart .quantity {
    margin-top: 10px;
    margin-right: 10px;
}

.product--summery .cart .btn {
    margin-top: 10px;
    margin-right: 10px;
}

.product--summery .meta {
    margin-top: 21px;
    color: #999;
    font-size: 0;
    line-height: 0;
}

.product--summery .meta > li {
    display: inline-block;
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
}

.product--summery .meta > li > span {
    color: #222;
    font-weight: 600;
}

.product--summery .meta > li > a {
    display: inline-block;
    padding: 0;
}

.product--summery .meta.tag > li > a {
    border-bottom: 1px solid #bbb;
}

.product--summery .meta.tag > li > a:hover {
    border-color: inherit;
}

.product--summery .meta > li + li {
    margin-left: 5px;
}

.product--summery .meta.social > li + li {
    margin-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #ccc;
}

.product--summery .meta.social > li:last-child {
    border-right-width: 0;
}

.product--summery .meta > li:last-child > a:after,
.product--summery .meta.tag > li > a:after,
.product--summery .meta.social > li > a:after {
    display: none;
}

.product--single .tab-nav {
    display: inline-block;
    color: #999;
    font-size: 0;
    line-height: 0;
    font-weight: 600;
}

.product--single .tab-nav > li {
    display: inline-block;
}

.product--single .tab-nav > li > a {
    padding: 6px 30px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: #da0000;
    font-size: 18px;
    line-height: 28px;
}

.product--single ul.tab-nav > li > a:hover,
.product--single ul.tab-nav > li.active > a {
    color: #fff;
    background-color: #da0000;
}

.product--single .tab-nav > li + li > a {
    border-left-width: 0;
}

.product--single .tab-nav > li:last-child > a {
    border-right-width: 1px;
}

.product--details .content p + table {
    margin-top: 20px;
}

.product--details .content table tr td {
    padding: 13px 20px;
    border: 1px solid #eee;
}

/* 8.8. CONTACT CATEGORIES */
.contact--cats .nav {
    margin: 0;
}

.contact--cats .nav > li {
    padding: 18px 18px 14px 18px;
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #eee;
}

.contact--cats .nav > li:nth-child(1),
.contact--cats .nav > li:nth-child(2),
.contact--cats .nav > li:nth-child(3) {
    margin-top: 0;
    padding-top: 0;
    border-top-width: 0;
}

.contact--cats .nav > li:nth-child(3n) {
    padding-right: 0;
    border-right-width: 0;
}

.contact--cats .nav > li:first-child,
.contact--cats .nav > li:nth-child(3n) + li {
    padding-left: 0;
}

.contact--cats ul.nav > li > a {
    padding: 0;
    color: inherit;
}

.contact--cats .icon {
    margin-bottom: 22px;
}

.contact--cats .title .h5 {
    margin: 0;
    color: #222;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    -webkit-transition: color .25s;
            transition: color .25s;
}

.contact--cats .nav > li > a:hover .title .h5  {
    color: #da0000;
}

.contact--cats .content {
    margin-top: 16px;
}

/* 8.9. CONTRIBUTOR ITEMS */
.contributor--item {
    padding: 30px 20px;
    border: 1px solid #eee;
    text-align: center;
}

.contributor--item .img {
    max-width: 80px;
    margin: 0 auto 17px;
}

.contributor--item .name .h4 {
    margin: 0;
    color: #222;
    font-weight: 600;
    -webkit-transition: color .25s;
    transition: color .25s;
}

.contributor--item .desc {
    margin-top: 10px;
}

.contributor--item .social {
    margin: -1px -8px 13px;
    color: #999;
    font-size: 0;
    line-height: 0;
}

.contributor--item .social > li {
    display: inline-block;
}

.contributor--item .social > li > a {
    padding: 8px 8px 0;
    font-size: 14px;
    line-height: 24px;
}

.contributor--item .action {
    margin-top: 11px;
}


.contributor--item.style--1 {
    position: relative;
    padding: 0 0 60px;
    border-width: 0;
    -webkit-transition: box-shadow .25s ease-in-out;
    transition: box-shadow .25s ease-in-out;
    overflow: hidden;
    z-index: 0;
}

.contributor--item.style--1:hover {
    box-shadow: 0 3px 20px rgba(0, 0, 0, .15);
}

.contributor--item.style--1 .img {
    margin: 0;
    max-width: none;
}

.contributor--item.style--1 .info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 17px 20px 20px;
    border-style: solid;
    border-width: 0 1px 1px;
    -webkit-transition: border-color .25s, background-color .25s ease-in-out;
    transition: border-color .25s, background-color .25s ease-in-out;
}

.contributor--item.style--1:not(:hover) .info {
    color: #999;
    background-color: #fff;
    border-color: #eee;
}

.contributor--item.style--1:hover .name .h4 {
    color: #fff;
}

.contributor--item.style--1 .social {
    margin-top: 4px;
    color: inherit;
}

.contributor--item.style--1 .social > li > a:hover {
    color: #222;
}

.contributor--item.style--1 .action {
    margin-bottom: -83px;
    -webkit-transition: margin-bottom .45s ease-in-out;
    transition: margin-bottom .45s ease-in-out;
}

.contributor--item.style--1:hover .action {
    margin-bottom: 0;
}

.contributor--item.style--1:hover .action .btn {
    border-color: #fff;
}

.contributor--item.style--1:hover .action .btn:hover {
    color: #222;
    background-color: #fff;
}

.bg--color-1 .portfolio--item .title .h4 .btn-link,
.bg--color-1 .portfolio--item:hover .title .h4 .btn-link,
.bg--color-2 .portfolio--item .title .h4 .btn-link,
.bg--color-2 .portfolio--item:hover .title .h4 .btn-link {
    color: #fff;
}


/*------------------------------------*\
    19. FOOTER SECTION
\*------------------------------------*/
/* 19.1. FOOTER WIDGETS */
.footer--widgets.bg--color-2 {
    color: #777;
}

/* 19.2. FOOTER COPYRIGHT */
.footer--copyright {
    position: relative;
    z-index: 0;
}

.footer--copyright.bg--color-3 {
    color: #777;
}

.footer--copyright .social--bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.footer--copyright .text {
    margin-bottom: 0;
    padding: 27px 0;
    font-size: 16px;
    line-height: 26px;
}

.footer--copyright .nav > li {
    float: left;
}

.footer--copyright .nav > li > a {
    padding: 0;
}

.footer--copyright .links {
    padding: 32px 30px 32px 0;
    font-size: 0;
    line-height: 0;
}

.footer--copyright .links > li + li {
    margin-left: 12px;
    padding-left: 11px;
    border-left: 1px solid;
}

.footer--copyright .links > li > a {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
}

.footer--copyright .social {
    padding: 28px 0 28px 22px;
}

.footer--copyright .social > li {
    margin: 0 9px;
}

.footer--copyright ul.social > li > a {
    color: #fff;
    -webkit-transition: opacity .25s;
            transition: opacity .25s;
}

.footer--copyright .social > li > a:hover {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

/* 21. BACK TO TOP BUTTON */
#backToTop {
    position: fixed;
    right: 30px;
    bottom: 50px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transition-property: opacity, visibility;
            transition-property: opacity, visibility;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    z-index: 999;
}

body.isScrolling #backToTop {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}

#backToTop a {
    display: block;
    width: 50px;
    color: #777;
    background-color: #000;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}

#backToTop a:hover {
    color: #fff;
    background-color: #da0000;
}