.info-categoria {
    width: 90% !important;
}

.btn-salvar {
    font-size: 30px;
    margin-top: 2px;
    width: 9%;
    text-align: right;
    color: green;
    margin-bottom: 16px;
}

.btn-apagar {
    font-size: 30px;
    color: red;
    width: 9%;
    text-align: right;
}