h3.titulo {
    font-size: 20px;
}

.ativar {
    width: 19px;
    height: 17px;
}

.titulo-comentario {
    float: left;
    width: calc(100% - 150px);
}

.icone-edit {
    margin-left: 5px;
    float: left;
}

.icone-del {
    float: right;
}

.icone-views {
    float: left;
    width: 25px;
    height: 25px;
    font-size: 20px;
    padding-top: 4px;
    margin-right: 12px;
}

.info-comentario {
    width: 108px;
    position: relative;
}

.btn-comentario {
    position: relative;
    font-size: 12px;
    text-align: right;
    margin-top: -5px;
}

.data-comentario {
    position: relative;
    font-size: 12px;
    text-align: right;
}