.btnApagar {
    cursor: pointer;
    left: 20px;
    font-size: 24px;
    color: red;
    position: absolute;
}

.btnCopiar {
    font-size: 24px;
    color: rgb(0, 4, 255);
    position: absolute;
    right: 20px;
    cursor: pointer;
}