h3.titulo {
    font-size: 20px;
}

.categorias {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background: #f8f8f8;
    width: fit-content;
}

.categorias span {
    font-weight: 100;
    top: -3px;
    position: relative;
}

.categorias input {
    width: 19px;
    height: 17px;
}

.ativar {
    width: 19px;
    height: 17px;
}

small {
    top: -5px;
    position: relative;
}

.titulo-post {
    float: left;
    width: calc(100% - 150px);
}

.icone-edit {
    margin-left: 5px;
    float: left;
}

.icone-del {
    float: right;
}

.info-post {
    width: 100px;
    position: relative;
}

.btn-post {
    position: relative;
    font-size: 12px;
    text-align: right;
    margin-top: -5px;
}

.data-post {
    position: relative;
    font-size: 12px;
    text-align: right;
}

.editor {
    height: 300px;
    grid-row: 10;
}

.btn-preview {
    position: relative;
    right: 0;
    top: 0px;
    background: #c39885;
    color: #000;
}

.jcrop-centered {
    display: inline-block;
}

#preview {
    width: 540px;
    height: 315px;
    overflow: hidden;
    display: inline-block;
}

#preview img {
    width: 540px;
}

#imagem {
    width: 100%;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
}

.modal-full {
    width: 100%;
    /* margin-left: 80; */
}

.modal-full .modal-content {
    margin-top: -30px;
    height: 100vh;
    width: 100%;
    overflow: scroll;
}

.modal-header .close {
    margin-top: -30px;
    font-size: 35px;
    border: 1px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#btn-recortar-imagem {
    width: 540px;
}


/* Parte do seo */

span.itemKeyword {
    background: #f8f8f8;
    padding: 3px 10px;
    margin: 2px;
    border-radius: 6px;
    float: left;
}

#numberCaracters {
    width: 80%;
    float: left;
    background: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

#verificarDescripition {
    width: 18.5%;
    float: right;
    background: #b3b3b3;
    color: #ffffff;
    line-height: 36px;
    border-radius: 5px;
    border: 2px solid #949494;
    height: 36px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#listKeywordInDescription {
    background: #337ab7;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    margin-top: 54px;
    min-height: 80px;
}

#listKeywordInDescription .text-green {
    color: green;
    font-weight: bolder;
}

#listKeywordInDescription .text-red {
    color: red;
    font-weight: bolder;
}

.box-red {
    background: red !important;
}


/* PArte do seo */